* {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 200px auto;
	width: 960px;
}

.logo {
	width: 300px;
	margin: 30px auto;
}

#search {
	width: 600px;
	line-height: 30px;
	display: block;
	margin: 0 auto;
}

#inp {
	width: 100%;
	line-height: 30px;
}

.buttons {
	width: 164px;
	margin: 40px auto;
}

button {	
	width: 160px;
	color: #757575;
	background-color: #f2f2f2;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
	line-height: 27px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 1px 16px;
    text-align: center;
    border: 1px transparent ;
    border-radius: 2px;
}

button:hover {
	padding: 0 15px;
	color: #222;
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
}