$ralewayB: 'ralewaybold';
$ralewayEB: 'ralewayextrabold';
$ralewayM: 'ralewaymedium';
$osR: 'open_sansregular';
$osI: 'open_sansitalic';
$red: #f84444;
$grey: #949494;
$blue: #2c2e37;
$hover: #8834f5;
$mobile: 600px;
$tablet: 769px;
$desctop: 990px;
$widescreen: 1199px;