@import 'bootstrap';
@import 'reset';
@import 'fonts';
@import 'variables';
@import 'swiper';


@mixin respond-to($media) {
  @if $media == $mobile {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @else if $media == $tablet {
    @media only screen and (max-width: $tablet) { @content; }
  }
  @else if $media == $desctop {
    @media only screen and (max-width: $desctop) { @content; }
  }
  @else if $media == $widescreen {
    @media only screen and (max-width: $widescreen) { @content; }
  }
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.left{float: left;}
.right{float: right;}
.clearfix{
	&:after{
		display: block;
		clear: both;
		content: '';
	};
}
.wrapper{
	padding: 35px;
	max-width: 1350px;
	margin: 0 auto;
	@include respond-to ($desctop) { 
		max-width:990px;
		width: 100%;
	}
}
.header{
	background: url('../img/mainbg.jpg') center center no-repeat;
	background-size: cover;
}
.header__logo{
	width: 25px;
	height: 25px;
	background: url(../img/sprite.png);
	background-position: 0px 0px;
}
.header__search{
	&:hover{
		.header__input{
			display: block;
			width: 120px;
		}
	};
}
.header__input{
	display: block;
	width: 0;
	margin: 3px;
	outline: none;
	transition: width 1s ease;
	background: transparent;
	border: 0;
	color: $grey;
}
.header__searchBtn{
	width: 25px;
	height: 25px;
	outline: none;
	background: url('../img/search.png') center center no-repeat;
	border: 0;

}
.header__menu{
	margin: 0 10px;
	width: 25px;
	height: 25px;
	background: url(../img/menu.png)center center no-repeat;
	cursor: pointer;
	&:hover{
		background: transparent;
		.header__list{
			right: 10px;
		}
	};
}
.header__list{
	position: fixed;
	right: -100px;
	transition: right 1s ease-out;

}
.header__link{
	text-decoration: none;
	color: $grey;
	font: 15px/25px $ralewayM;
}
.header__main{
	position: relative;
	margin: 350px auto;
	text-align: center;
}
.header__btn{
	background: $red;
	font: 17px/35px $ralewayEB;
	color: #fff;
	text-transform: uppercase;
	padding: 0 10px;
	outline: none;
	border: 0;
	margin-bottom: 15px;

}
.header__text{
	font: 35px/50px $ralewayB;
	letter-spacing: 80px;
	color: #fff;
	text-transform: uppercase;
	@include respond-to ($desctop){
		display: none;
	
	}
}
.header__arrow{
	width: 20px;
	height: 20px;
	left: 50%;
	display: inline-block;
	color:#fff;
	cursor: pointer;
	position: absolute;
	top: 380px;
	animation: downslide 2s ease-in-out infinite;
}

@keyframes downslide{
	0%{transform: translateY(0px)};
	50%{transform: translateY(30px)};
	100%{transform: translateY(0px)};

}
.about .wrapper {
	@include respond-to ($desctop) { 
		padding: 0px;
	
	}
}
.about__title{
	width: 310px;
	margin: 0 auto;
	padding: 110px 0;
	font: 23px/33px $ralewayEB;
	text-align: center;
	text-transform: uppercase;
	&:before{
		margin: 30px auto;
		width: 80px;
		height: 5px;
		display: block;
		content: '';
		background: url('../img/curve.png') center center no-repeat;
	};
	@include respond-to ($tablet){
		padding: 65px 0;
	}

}
.about__item{
	height: 400px;
	padding: 0;
	margin: 50px 0px;
	/*vertical-align: middle;*/
	@include respond-to ($tablet) {
		height: 300px;
		text-align: center;
		.about__img{
			height: 500px;
		};
	
	}
}
.about__item--img2{
	@include respond-to ($tablet){
		margin-top: 550px;
		
	}
}
.about__item--text, .about__item--text2{
	padding: 10% 9%;


}
.about__item--text2{
	@include respond-to ($tablet){
		margin-top: -700px;
		margin-bottom: 600px;
	}
}

.about__item--left,.about__item--right{
	padding: 10% 0 0 10%;
	height: 350px;
	text-align: left;
	@include respond-to ($tablet){
		padding: 10%;
	}
	
}
.about__item--right{
	padding: 10% 10% 0 2%;
	@include respond-to ($tablet){
		padding: 10%;
	}	
}
.about__subtitle{
	font: 20px/40px $ralewayEB;
	text-transform: uppercase;
}
.about__text{
	font: 14px/26px $osR;
	color: $grey;

}
.about__img{
	width: 100%;
	height: 100%;
}
.about__buttons{
	clear: both;
	text-align: center;
	margin-bottom: 110px;
}
.about__btn{
	@extend .header__btn;
	font-size: 14px;
	border: 2px solid transparent;
	width: 150px;
	margin: 10px;
}
.about__btn--grey{
	background: transparent;
	color: $grey;
	border: 2px solid #e6e6e6;
	box-sizing: border-box;
}

.projects{
	margin-bottom: 100px;
}
.projects__header{
	min-height: 600px;
	background: $blue;
	text-align: center;
	&:before{
		content:'';
		display: inline-block;
		width: 2px;
		margin-top: -50px;
		height: 100px;
		background: rgba(226,226,226,.9);
	};
}
.projects__title{
	color: #fff;
	font: 23px/33px $ralewayEB;
	text-transform: uppercase;
	
}
.projects__subtitle{
	color: $grey;
	width: 480px;
	font: 14px/26px $osR;
	margin: 20px auto;
}
.projects__btn{
	@extend .about__btn;
	&:last-child{
		@extend .about__btn--grey;
		color: #fff;
		border-color: $grey;
	};
}
.projects__viewport{
	position: relative;
	overflow: hidden;
	margin-top: -300px;
	min-height: 1100px;
	@include respond-to ($widescreen){
	 	&:after{
			position: absolute;
		    bottom: 353px;
		    content: '';
		    background: #dfdfdf;
		    width: 250px;
		    height: 2px;
 		}; 
	}
	@include respond-to ($tablet){
		&:after{
			display: none;
		}
	}

}
.projects__container {
	min-height: 750px;
    max-width: 95%;
    padding: 5%;
	overflow: hidden;
	@include respond-to ($widescreen){
 		margin-left: 20%; 
	}
	@include respond-to ($tablet){
		margin-left: 0;
	}
	
}  
.projects__wrapper {
	margin-left: -200px;
	min-height: 500px;
	@include respond-to ($widescreen){
		width: 80%;
		margin-left: -7%;
    }
    @include respond-to ($tablet){
    	margin-left: 5%;
    }
}
.projects__pagination{
	@include respond-to($tablet){
		display: none;
	}
	&:before{
	    position: absolute;
	    left: -400px;
	    top: 38px;
	    content: '';
	    background: #dfdfdf;
	    width: 400px;
	    height: 2px;
	};

	
}
.swiper-pagination-bullet{

	position: relative;
	top: 12px;
	font: 16px/45px $ralewayB;
	background: transparent;
	width: 20px;
	height: 20px;

}    
.swiper-slide{
	padding: 100px;
	width: 550px;
	height: 550px;
	margin-right: 100px;
	transition: all .4s ease-in-out;
}
.swiper-slide-active{
	padding: 0;
	height: 500px;
	width: 500px;
}
.swiper-button-next, .swiper-button-prev{
	background: transparent; 
	@include respond-to ($widescreen){
		display: none;
	}
}
.swiper-button-next{
	right: -1px;
}
.projects__item{
	float: left;
	margin-right: 5%;
	@include respond-to ($widescreen){
		margin-right: 10%;
		margin-left: -10%;
	}
	@include respond-to ($tablet){

		/*margin-right: 2%;*/
		margin-left: 15%;
	}
}
.projects__img{
	width: 100%;
	height: 100%;
}
.projects__info{
	min-height: 200px;
	margin-left: 5%;
	@include respond-to ($widescreen){
		float: right;
		margin-right: 20%;
	}
}
.projects__post{
	.fa-clock-o{
		margin-right: 10px;
	} 
	font: 15px/60px $osI;
	color: $grey;
	font-style: italic;
}
.projects__desc{
	margin: -100px 0px 0px 90px;
	display: none;
	&:first-child{
		display: block;
	};
	width: 100%;
	@include respond-to ($tablet){
		margin: -100px 0 0 50px;
		text-align: center;
	}

}
.projects__name{
	@extend .about__subtitle;
}
.projects__text{
	@extend .about__text;
}

.journal{
	position: relative;
	background: #fafafa;
	.wrapper{
		padding-bottom: 200px;
	}
}
.journal__header{
	@include respond-to ($tablet){
		margin-top: 400px;
		text-align: center;
	}
}
.journal__title{
	@extend .about__title;

	text-align: left;
	margin: 150px 0px 20px;
	padding: 0;
	&:before{
		margin: 30px 0;
	};
	@include respond-to($tablet){
		text-align: center;
		margin: 20px auto;
		&:before{
			margin: 30px 110px;
		}
	}
}
.journal__subtitle{
	@extend .about__text;
	color: $grey;
}
.journal__btn{
	@extend .about__btn;
	margin: 20px 0;
}
.journal__little-photo{
	margin-top: 220px;
	z-index: 1;
	@include respond-to ($tablet){
		display: none;
	}
}
.journal__big-photo{
	position: absolute;
	/*float: right;*/
	overflow: hidden;
	top: -100px;
	height: 600px;
	right: 0;
	z-index: 0;
	.journal__img{
		@include respond-to ($desctop){
			width: 150%;
			margin-left: -100px;
			height: 80%;
		}
		@include respond-to ($tablet){
			width: 100%;
			margin-left: 0;

		}
	}
}
.journal__img, .team__img{
	width: 100%;
	height: 100%;
}
.team__item {
	margin-bottom: 50px;
}
.team__title{
	@extend .about__title;
}
.team__member-name{
	font: 14px/30px $ralewayEB;

}
.team__member-profession{
	font: 15px $ralewayM;
	text-transform: uppercase;
	&:after{
		margin: 30px 0;
		content:'';
		display: block;
		width: 30px;
		height: 2px;
		background: #ccc;

	};
}
.team__text{
	@extend .about__text;
	width: 300px;
}

.team__social{
	display: inline-block;
	color: $grey;
	width: 35px;
	height: 35px;
	&:hover{
		color: $hover;
	};

}

.footer{
	background: $blue;
	color: #fff;
	min-height: 300px;
}
.footer__logo{
	margin-top: 15px;
	width: 20px;
	height: 20px;
	background: url('../img/sprite.png');
	background-position: -2px -60px;
}
.footer__item{
	line-height: 50px;
	padding: 0;
	@include respond-to ($tablet){
		margin: 40px auto;
	}
}
.footer__icon{
	display: inline-block;
	margin-right: 15px;
	width: 25px;
	height: 25px;
	color: #fff;
	&:hover{
		color: $hover;
	};
}


.footer__link{
	color: #fff;
	font: 13px/20px #osR;
	&:hover{
		color: #fefefe;
	};
}
.footer__title{
	margin: 0;
	font: 14px/30px $osR;
	text-transform: uppercase;

}
.footer__subtitle{
	margin: 0;
	font: 12px/30px $osR;
}
.col-sm-12 {
	text-align: center;
}

.footer__formbox{
	margin-top: 20px;
	border: 2px solid $grey;
	width: 335px;
	@include respond-to($tablet){
		min-width: 100%;

	}

}
.footer__input{
	outline: 0;
	border: 0px;
	background: transparent;
	width: 290px;
	font: 12px/40px $osR;
	height: 40px;
	padding: 0 0 0 25px;
	@include respond-to($tablet){
		min-width: 90%;
	}


}
.footer__btn{
	height: 30px;
	width: 25px;
	color: $grey;
	background: transparent;
	border: 0;
	outline: 0;
}