@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat-regular.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto-black';
    src: url('../fonts/Roboto-black.ttf');
    font-weight: normal;
    font-style: normal;

}@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-bold.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto-italic';
    src: url('../fonts/Roboto-italic.ttf');
    font-weight: normal;
    font-style: normal;

}