*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
@import 'fonts';


$montserratBold: 'montserrat-bold';
$montserratRegular: 'montserrat-regular';
$robotoLight: 'roboto-light';
$red: #ff4e50;
$desctop: 960px;
$tablet: 768px;
$mobile: 320px;
@mixin clearfix {&:after{display: block;content: '';display: block;}};
@mixin font($px, $font, $color){
	font: $px $font;
	color: $color;
}
@mixin respond-to ($media) {
	@if $media == $mobile {
		@media screen and (max-width: $mobile) {@content;}
	}
	@else if $media == $tablet {
		@media screen and (max-width: $tablet) {@content;}
	}
	@else if $media == $desctop {
		@media screen and (max-width: $desctop) {@content;}
	}
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	@include respond-to ($desctop){
		max-width: $desctop;
		width: 100%;
	};
	@include respond-to ($tablet){
		max-width: $tablet;
	};
	@include respond-to ($mobile) {
		max-width: $mobile;
	}
}
.head {
	padding-top: 40px;
	background: url('../img/logo.jpg') center center no-repeat;
	background-size: cover;
	@include respond-to ($desctop){
		min-width: $tablet
	}
	@include respond-to ($tablet){
		min-width: $mobile;
	}

}
.head__logo{
	float: left;
	margin: 6px 0 0 10px;
	letter-spacing: 1px;
	@include clearfix;

}
.head__logo-link{
	@include font(20px, $montserratBold, #fff);

}

.head__login{
	float: right;
	@include clearfix;
	margin: -1px 12px 0px 0px;
}
.head__login-link{
	@include font(14px, $montserratBold, #fff);
	display: inline-block;

	padding: 7px 15px;
}
.head__login-link--sign {
	border: 2px solid #fff;
	border-radius: 20px;
}
.head__login-link--find{
	border-radius: 22px;
	background: $red;	
	padding: 11px 23px;		
}
.head__main{
	width: 500px;
	margin: 0 auto;
	padding: 174px 0 234px 0;
	text-align: center;
	.head__main-title{
		text-transform: uppercase;
		margin-bottom: 20px;
		@include font(52px, $montserratBold, #fff);
	}
	.head__main-subtitle{
		margin-bottom: 33px;
		@include font(24px, $robotoLight, #fff);
	}
		
}

.sliders{
	padding-top: 95px;
}
.sliders__title{
	font: 22px $montserratBold;
	color: #000;
	text-align: center;
}
.sliders__block { 
	margin: 34px 8px 0 9px;
	width: 300px;
	position: relative;
	@include respond-to($tablet){
		width: 235px;
	}
	.sliders__innerblock {
		box-sizing: border-box;
		border-radius: 10px;
		/*border: 1px solid #000;*/
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 400px;
		z-index: 1;
		background: linear-gradient(transparent, rgba(0,0,0,.6));
		@include respond-to($tablet){
			width: 235px;
		}
	}

}
.sliders__innerblock-img {
	border-radius: 10px;
	@include respond-to ($tablet) {
		height: 400px;
	}
}
.sliders__innerblock-link{
	@extend .head__login-link--find;
	@include font(9px, $montserratRegular, #fff);
	padding: 3px 12px 4px;
	margin: 230px 0 17px 20px;
    display: inline-block;
	letter-spacing: 3px;
	text-transform: uppercase;		
	@include respond-to($tablet){
		margin-top: 210px;
	}

}
.sliders__innerblock-link--step2{
	margin: 260px 0 17px 20px;
}
.sliders__innerblock-title{
	margin: 0 0 11px 20px;
	letter-spacing: .6px;
	@include font(23px, $montserratBold, #fff);

}
.sliders__innerblock-subtitle{
    width: 260px;
    margin: 0 20px;
    line-height: 4px;
	@include font(14px, $robotoLight, #ccc);		
	@include respond-to($tablet){
		width: 195px;
	}
}
.partners{
	padding-top: 91px;
	margin-bottom: 90px;

}
.partners__title {
	@extend .sliders__title;
	margin-bottom: 32px;
}
.partners__section {
	@media screen and (max-width: $desctop){
		width: 500px;
		margin: 0 auto;
	}
}
.partners__block{
	text-align: center;
	float: left;
	width: 225px;
	margin-right: 5px;
	margin-left: 10px;
	margin-bottom: 70px;
	@include clearfix;
}
.partners__photo{
	display: block;
	margin: 0 auto;
}
.partners__name {
	@extend .head__login-link;
	margin: 6px 0 5px -2px;
	display: block;
	color: #000;
}
.partners__text {
	@extend .sliders__innerblock-subtitle;
	line-height: 17px;
	width: 220px;
	margin: 0;
}
.partners__search{
	margin: 0 auto;
	width: 200px;
	display: block;
}
.partners__link{
	@extend .head__login-link;
	@extend .head__login-link--find;
	padding: 11px 29px 9px 27px;
	margin-left: 5px;
	margin-top: 35px;
	border: 2px solid $red;
	color: $red;
	background: #fff;

}
.holiday{
	overflow: hidden;
	padding-top: 5px;
	margin-bottom: 75px;
	/*@include respond-to ($desctop) {
		min-width: $tablet;
	};*/

}
.holiday__title{
	@extend .sliders__title;
	margin-bottom: 33px;
}
/////////////////////////////////////////////////////////////////////

.holiday__grit-sizer {
	width: 31%;
}
.holiday__grid-item {
	width: 31%;
	float: left;
	height: 310px;
	margin: 0 13px 20px 9px;
	@include clearfix;
	position: relative;
	@media screen and (max-width: $desctop) {
		width: 30%;
	}

}
.holiday__grid-text {
	@include font(16px, $montserratBold, #fff);
    position: absolute;
    width: 300px;
    top: 150px;
    text-align: center;
}
.holiday__grid-item--width2 .holiday__grid-text{
	left: 175px;
}
.holiday__grid-item img {
	width: 100%;
	height: 100%;
}
.holiday__grid-item--width2 { 
	@extend .holiday__grid-item; 
	width: 64%; 
	@media screen and (max-width: $desctop){
		width: 62%;
	}
}
.holiday__grid-item--width2 img {
	width: 100%;
}
.holiday__grid-item--error {
	float: left;
	width: 960px;
	height: 250px;
}
.holiday__grid-item--error img {
	display: block; 
	width: 400px; 
	margin: 0 auto;
}

//////////////////////////////////////////////////////////////////////
.search{
	margin-bottom: 99px;
}
.search__title{
	@extend .sliders__title;
	margin-bottom: 5px;
}
.search__subtitle {
	@extend .sliders__innerblock-subtitle;
	font-size: 18px;
	width: 280px;
	margin: 31px auto 37px;
}
.search__form {
	width: 411px;
	margin: 0 auto;
}
.search__input {
	line-height: 39px;
	width: 223px;
	margin-right: 6px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 15px;
}
.search__button{
	@extend .head__login-link;
	@extend .head__login-link--find;
}

.footer{
	padding-top: 30px;
	border-top: 4px solid $red;
	overflow: hidden;

}
.footer__block {
	width: 150px;
	float: left;
	@include clearfix;
	&:nth-child(2){margin-left: 102px;};
	&:nth-child(3){margin-left: 10px;};
	&:last-child{float: right;padding-top: 12px;width: 120px;margin-right: 1px;};
}
.head__logo-link--footer{
	display: block;
	color: $red;
	font-size: 17px;
    margin: 5px 0 0 10px;

}
.footer__title {
	@extend .partners__name;
	padding: 0;
}
.footer__item {
	@extend .sliders__innerblock-subtitle;
	margin: 11px 0 -6px -3px;
}
.footer__design{
	@include font(9px, $montserratBold, #ccc);
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1.7px;
	margin: -4px 0 7px 32px;

}