* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

@font-face {
  font-family: 'ubuntucondensed';
  src: url("../fonts/ubuntu-c-webfont.woff2") format("woff2"), url("../fonts/ubuntu-c-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-l-webfont.woff2") format("woff2"), url("../fonts/ubuntu-l-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../fonts/ubuntu-m-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.wrapper {
  width: 1160px;
  margin: 0 auto; }

/* HEADER */
header {
  overflow: hidden;
  margin-top: 25px;
  /* Links */ }
  header .logo {
    float: left;
    width: 200px; }
    header .logo .logo__img {
      float: left; }
    header .logo .logo__h1 {
      color: #434343;
      font-family: "ubuntumedium";
      font-size: 25px;
      padding: 0;
      margin: 0;
      letter-spacing: 1.5px;
      line-height: 20px; }
    header .logo .logo__h3 {
      color: #333333;
      font-family: "ubuntulight";
      font-size: 14px;
      padding: 0;
      margin: 0;
      font-variant: small-caps;
      letter-spacing: 2px; }
  header nav.links {
    float: right;
    width: 145px;
    padding: 10px 0; }
    header nav.links:after {
      display: block;
      content: '';
      clear: both; }
    header nav.links ul li {
      display: inline-block; }
      header nav.links ul li a {
        display: block;
        width: 25px;
        height: 20px;
        background: url("../img/links.png") 0 0 no-repeat; }
        header nav.links ul li a:hover {
          background-position: 0px -20px; }
      header nav.links ul li .links__link2 {
        background-position: -35px 0px; }
        header nav.links ul li .links__link2:hover {
          background-position: -35px -20px; }
      header nav.links ul li .links__link3 {
        background-position: -65px 0px; }
        header nav.links ul li .links__link3:hover {
          background-position: -65px -20px; }
      header nav.links ul li .links__link4 {
        background-position: -100px 0px; }
        header nav.links ul li .links__link4:hover {
          background-position: -100px -20px; }
      header nav.links ul li .links__link5 {
        background-position: -132px 0px; }
        header nav.links ul li .links__link5:hover {
          background-position: -132px -20px; }

/*NavBar*/
menu {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.8); }
  menu nav {
    width: 700px; }
    menu nav .navBar {
      height: 50px; }
      menu nav .navBar .navBar__item {
        float: left; }
      menu nav .navBar .navBarItem:last-child a {
        border-right: 1px solid #000; }
      menu nav .navBar .selected {
        background: #248cec;
        border-left: 1px solid #248cec; }
  menu .navBar__search {
    overflow: hidden;
    position: relative;
    margin-right: 10px; }
    menu .navBar__search:after {
      position: absolute;
      right: 10px;
      top: 15px;
      display: block;
      content: url("../img/search.png"); }
  menu #inp {
    color: #fff;
    padding: 0px 30px 0px  7px;
    float: right;
    background: #35383c;
    width: 200px;
    line-height: 38px;
    border: 1px solid #000;
    margin: 5px 0px; }
    menu #inp:focus {
      border: 1px solid #fff; }

.navBar__link {
  color: #fff;
  font-family: "ubuntucondensed";
  font-size: 15px;
  padding: 0 39px;
  margin: 0;
  display: block;
  line-height: 50px;
  text-transform: uppercase;
  border-left: 1px solid #000; }
  .navBar__link:hover {
    color: #f4b60d; }

/*Slider*/
.slider {
  margin-top: 40px;
  width: 100%; }
  .slider .wrapper {
    position: relative;
    overflow: hidden;
    height: 471px; }

/*Articles */
.articles {
  overflow: hidden;
  height: 300px;
  margin-top: 50px; }
  .articles .articles__infobox {
    width: 380px;
    height: 200px;
    float: left; }
    .articles .articles__infobox .articles__number {
      color: #ccc;
      font-family: "ubuntumedium";
      font-size: 80px;
      padding: 0;
      margin: -20px 0 0 0;
      height: 100%;
      float: left; }
    .articles .articles__infobox .articles__content {
      width: 320px;
      height: 300px; }
      .articles .articles__infobox .articles__content .articles__head {
        font-family: "ubuntumedium";
        display: block; }
        .articles .articles__infobox .articles__content .articles__head:before {
          display: block;
          content: '';
          width: 35px;
          height: 32px;
          overflow: hidden;
          margin-bottom: 10px;
          background: url("../img/icons.png") 0 0 no-repeat; }
      .articles .articles__infobox .articles__content #icon2:before {
        background-position: -37px 0px; }
      .articles .articles__infobox .articles__content #icon3:before {
        background-position: -70px 0px; }
      .articles .articles__infobox .articles__content .articles__text {
        color: #ccc;
        font-family: Arial;
        font-size: 14px;
        padding: 10px 0 0 0;
        margin: 0;
        display: block; }
      .articles .articles__infobox .articles__content .articles__link {
        color: #000;
        font-family: "ubuntumedium";
        font-size: 14px;
        padding: 10px 0 0 0;
        margin: 0;
        display: block;
        font-weight: 400; }
        .articles .articles__infobox .articles__content .articles__link:hover {
          color: #00f; }
        .articles .articles__infobox .articles__content .articles__link:hover span {
          color: #ccc; }
        .articles .articles__infobox .articles__content .articles__link span {
          display: inline-block;
          color: #00f; }

.services {
  height: 400px;
  min-width: 1160px;
  background: rgba(0, 0, 0, 0.8) 0 0 repeat; }
  .services h3 {
    color: #fff;
    font-family: "ubuntumedium";
    font-size: 24px;
    padding: 15px;
    margin: 0; }
  .services .services__infoBlock {
    position: relative;
    display: inline-block;
    width: 260px;
    height: 290px;
    margin: 13px; }
    .services .services__infoBlock:hover .services__link {
      color: #f4b60d; }
    .services .services__infoBlock:hover .services__hover {
      cursor: pointer;
      background-color: rgba(50, 150, 250, 0.8);
      background-image: url("../img/plus.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: background-color 0.5s, background-image 1s cubic-bezier(0.46, 0.02, 0.19, 1.58); }
    .services .services__infoBlock .services__hover {
      width: 260px;
      height: 260px;
      position: absolute; }
    .services .services__infoBlock .services__link {
      color: #fff;
      font-family: "ubuntumedium";
      font-size: 17px;
      padding: 0;
      margin: 0;
      display: block;
      text-align: center; }

.blog {
  background: #f7f7f7;
  height: 450px; }
  .blog:after {
    display: block;
    content: '';
    clear: both; }
  .blog .blog__news {
    float: left; }
    .blog .blog__news h4 {
      color: #000;
      font-family: "ubuntumedium";
      font-size: 20px;
      padding: 20px;
      margin: 0 0 0 15px; }
    .blog .blog__news .blog__newsblock {
      width: 580px; }
    .blog .blog__news .blog__pic {
      float: left;
      width: 180px; }
      .blog .blog__news .blog__pic:after {
        display: block;
        content: '';
        clear: both; }
    .blog .blog__news .blog__content {
      width: 400px;
      height: 200px;
      display: inline-block; }
      .blog .blog__news .blog__content .blog__content--header {
        margin-top: 10px; }
        .blog .blog__news .blog__content .blog__content--header a {
          color: #000;
          font-family: "ubuntumedium";
          font-size: 17px;
          padding: 0;
          margin: 0; }
          .blog .blog__news .blog__content .blog__content--header a:hover {
            color: #63b4f5; }
      .blog .blog__news .blog__content .blog__content--text {
        color: #8a8a8a;
        font-family: arial;
        font-size: 17px;
        padding: 0;
        margin: 0;
        display: block; }
      .blog .blog__news .blog__content .blog__content--underhead {
        margin: 5px 0 15px 0; }
        .blog .blog__news .blog__content .blog__content--underhead a {
          color: #63b4f5; }
  .blog .banners {
    display: inline-block;
    width: 500px;
    float: left; }
    .blog .banners h4 {
      color: #000;
      font-family: "ubuntumedium";
      font-size: 20px;
      padding: 20px;
      margin: 0 0 0 15px; }
    .blog .banners #accordion {
      width: 500px;
      height: 400px; }
      .blog .banners #accordion h3 {
        font-family: "ubuntumedium";
        font-size: 13px;
        text-transform: uppercase; }

.logos {
  margin: 50px; }
  .logos img {
    display: inline-block;
    margin: 0 25px;
    opacity: 1; }
    .logos img:hover {
      opacity: 0.5;
      transition: opacity 1s; }

footer {
  padding: 30px 0 50px;
  background: #2a2d32;
  min-width: 1160px; }
  footer:after {
    content: '';
    display: block;
    clear: both; }
  footer .listblock {
    overflow: hidden;
    float: left;
    width: 290px; }
    footer .listblock .listblock__head {
      color: #fff;
      font-family: "ubuntumedium";
      font-size: 18px;
      padding: 5px;
      margin: 20px 0;
      text-transform: uppercase; }
    footer .listblock .listblock__item {
      width: 235px;
      padding: 5px;
      border-top: 1px solid #393c40; }
      footer .listblock .listblock__item .listblock__link {
        color: #828385;
        font-family: Arial;
        font-size: 15px;
        padding: 0;
        margin: 0; }
        footer .listblock .listblock__item .listblock__link:hover {
          color: #257fd3; }
    footer .listblock li:first-child {
      border-top: none; }

.copyright {
  background: #35383c;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  min-width: 1160px; }
  .copyright .copyright__item {
    display: inline-block;
    margin-right: 30px; }
    .copyright .copyright__item .copyright__img {
      display: inline;
      opacity: 0.4;
      vertical-align: middle; }
    .copyright .copyright__item .copyright__link, .copyright .copyright__item span {
      color: #5b5d61;
      font-family: Arial;
      font-size: 15px;
      padding: 0 10px;
      margin: 0 5px;
      cursor: pointer; }
    .copyright .copyright__item span {
      cursor: initial; }
  .copyright .copyright__link:last-child {
    float: right; }

/*# sourceMappingURL=main.css.map */
