* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'rosamunda';
    src: url('../fonts/rosamunda-webfont.woff2') format('woff2'),
         url('../fonts/rosamunda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'rosamunda', arial, sans-serif;
	font-size: 90px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
	color: #fff;
	text-shadow: 3px 3px  6px  #000;
}
.title {
	text-align: center;
}

.row {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	line-height: 50px;
}

.row:last-child{
	margin-top: 50px;
}

footer {
	text-align: right;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

@media screen and (max-width: 769px) {
	body {
		font-size: 50px
	}

}
@media screen and (max-width: 600px) {
	body {
		font-size: 40px
	}

}
@media screen and (max-width: 600px) {
	body {
		font-size: 30px
	}
	.row {
		margin: 10px auto;
		line-height: 20px;
	}
	.row:last-child{
		margin-top: 20px;
	}
}
