* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

@font-face {
    font-family: 'ubuntucondensed';
    src: url('../fonts/ubuntu-c-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$color: #f4b60d;
$mediumFont: 'ubuntumedium';
$lightFont: 'ubuntulight';
$condencedFont: 'ubuntucondensed';
@mixin heading($fnt, $clr : none, $fsz : 25px, $pad : 0, $marg : 0) {	
	color: $clr;
	font-family: $fnt;
	font-size: $fsz;
	padding: $pad;
	margin: $marg;
}
@mixin linkBg($x){
	background-position: $x 0px;
	&:hover{background-position: $x -20px};
}


.wrapper {
	width: 1160px;
	margin: 0 auto;
}
							/* HEADER */
header {
	overflow: hidden;
	margin-top: 25px;

	section {
		float: left;
		width: 200px;
	.logo {
		float: left;
	}
	h1 {
		@include heading($mediumFont, #434343);
		letter-spacing: 1.5px;
		line-height: 20px;		
	}
	h3 {
		@include heading($lightFont, #333333, 14px);
		font-variant: small-caps;
		letter-spacing: 2px;
	}
	}
							/* Links */
nav.links {
	float: right;
	width: 145px;
	padding: 10px 0;
	&:after{display: block;content: '';clear: both;}
	ul li {
		display: inline-block;

		a {	

			display: block;
			width: 25px;
			height: 20px;
			background: url('../img/links.png') 0 0 no-repeat;
			&:hover {background-position: 0px -20px;}
			
		}
		.link2 {
			@include linkBg(-35px);
		}

		.link3 {
			@include linkBg(-65px);
		}

		.link4{
			@include linkBg(-100px);
		}

		.link5{
			@include linkBg(-132px);
		}
		
	}
}	
}
						/*NavBar*/


menu {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,.8);
	.navBar {
	width: 700px;
		ul {
			height: 50px;

			li {
			float: left;
			}

			li:last-child a {
			border-right: 1px solid #000;
			}

			.selected {
				background: #248cec;
				border-left: 1px solid #248cec;
			}

		}

	}
	.search {
		overflow: hidden;
		position: relative;
		margin-right: 10px;	
		&:after{
			position: absolute;
			right: 10px;
			top: 15px;
			display: block;
			content: url('../img/search.png'); 

		}
	}
	
	#inp {
		color: #fff;
		padding: 0px 30px 0px  7px;
		float: right;
		background: #35383c;
		width: 200px;
		line-height: 38px;
		border: 1px solid #000;
		margin: 5px 0px;
		&:focus { border: 1px solid #fff; }
	}

}
.menuLinks {	
	@include heading($condencedFont, #fff, 15px, 0 39px);
	display: block;
	line-height: 50px;
	text-transform: uppercase;
	border-left: 1px solid #000;
	&:hover {color: $color;}
}
							/*Slider*/
.slider {
	margin-top: 40px;
	width: 100%;
	.wrapper {
	position: relative;
	overflow: hidden;
	height: 471px;
	}
}

									 /*Articles */
.articles {
	overflow: hidden;
	height: 300px;
	margin-top: 50px;
	article {
		width: 380px;
		height: 200px;
		float: left;
		p {
			@include heading($mediumFont, #ccc, 80px, 0, -20px 0 0 0);
			height: 100%; 
			float: left;
		}
		.content {
			width: 320px;
			height: 300px;
			h1 {
				font-family: $mediumFont;
				display: block;
				&:before{
					display: block;
					content: '';
					width: 35px;
					height: 32px;
					overflow: hidden;
					margin-bottom: 10px;
					background: url('../img/icons.png') 0 0 no-repeat;
					
				};
			}
			#icon2:before {
				background-position: -37px 0px;
			}
			#icon3:before {
				background-position: -70px 0px
			}

			span {
				@include heading(Arial, #ccc, 14px, 10px 0 0 0);
				display: block;
			}
			a {
				@include heading($mediumFont, #000, 14px, 10px 0 0 0);
				display: block;
				font-weight: 400;
				&:hover{
					color:#00f;
				};
				span{
					display: inline-block;
					color: #00f;
					&:hover{color:#ccc;};
				};
				
			}
		}
	}
}

.services {
	min-width: 100%;
	height: 400px;
	background: rgba(0,0,0,.8) 0 0 repeat;
	h3 {
		@include heading($mediumFont, #fff, 24px, 15px);
	}
	ul {
		position: absolute;
	}
	li {
		display: inline-block;
		width: 260px;
		height: 260px;
		margin: 13px;
		figure {
				a {
					display: block;
					text-align: center;
					font-size: 90px;
					margin-top: 75px;
					color: #fff;
				}
		}
		.servLink {
			@include heading($mediumFont, #fff, 17px);
			display: block;
			text-align: center;
			&:hover{color: $color;};
		}			
	} 
}

.blog {
	background: #f7f7f7;
	width: 100%;
	height: 450px;
	&:after{display: block;content: '';clear: both;};
	

	.news {
		float: left;
		h4 {
			@include heading($mediumFont, #000, 20px, 20px, 0 0 0 15px);
		}
		.newsBlock{
			width: 580px;	

		}
		.pic {
			float: left;
			width: 180px;
			&:after{display: block;content: '';clear: both;};
		}
		article {
			width: 400px;
			height: 200px;
			display: inline-block;
			h3 {
				margin-top: 10px;
				a{
				@include heading($mediumFont, #000, 17px);
				&:hover{color: #63b4f5};
				}
			}

			span {
				@include heading(arial, #8a8a8a, 17px);
				display: block;
			}
			.underhead {
				margin: 5px 0 15px 0;
				a {
					color: #63b4f5;
				}
			}
		}
	}
	.banners {
		display: inline-block;
		width: 500px;
		float: left;
		h4 {
			@include heading($mediumFont, #000, 20px, 20px, 0 0 0 15px);
		}
		#accordion {
			width: 500px;
			height: 400px;
			h3 {
				font-family: $mediumFont;
				font-size: 13px;
				text-transform: uppercase;
				span.ui-icon-plus {
					color: #000;
				}
			}
		}
	}
}
.logos {
	margin: 50px;
}
footer {
	padding: 30px 0 50px;
	background: #2a2d32;
	overflow: hidden;
	.listBlock {
		float: left;
		width: 290px;
		h3 {
			@include heading($mediumFont, #fff, 18px, 5px, 20px 0);
			text-transform: uppercase;

		}
		li {
			width: 235px;
			padding: 5px;
			border-top: 1px solid #393c40;
			a {
				@include heading(Arial, #828385, 15px);
				&:hover{color:#257fd3;};
			}
		}
		li:first-child{
			border-top: none;
		}
		


	}
}

.copyright {
	background: #35383c;
	img {
		margin-top: -1px;
	}
}