* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

@font-face {
  font-family: 'bringinregular';
  src: url("../fonts/bringin-webfont.eot");
  src: url("../fonts/bringin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bringin-webfont.woff2") format("woff2"), url("../fonts/bringin-webfont.woff") format("woff"), url("../fonts/bringin-webfont.ttf") format("truetype"), url("../fonts/bringin-webfont.svg#bringinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-bold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#opensans-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-regular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#opensans-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway-bold-webfont.eot");
  src: url("../fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff"), url("../fonts/raleway-bold-webfont.ttf") format("truetype"), url("../fonts/raleway-bold-webfont.svg#raleway-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-bold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#roboto-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#roboto-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-black';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype"), url("../fonts/roboto-black-webfont.svg#roboto-black") format("svg");
  font-weight: normal;
  font-style: normal; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.wrapper {
  width: 1140px;
  margin: 0 auto; }

.header {
  background: url(../img/bg.jpg) 53% top no-repeat;
  padding-bottom: 106px;
  -webkit-background-size: cover;
  background-size: cover; }

.header__topline {
  padding-top: 30px; }

.header__logo {
  font: 29px "bringinregular";
  height: 90px; }

.header__logo-partial {
  color: #36aeea;
  text-transform: capitalize; }

.header__logo-partial:last-child {
  color: #95a5ad; }

.header__navbar {
  margin-left: 60px;
  padding-top: 10px;
  width: 550px; }

.navbar__item {
  display: inline-block;
  margin-right: 20px; }

.navbar__link {
  display: block;
  text-transform: uppercase;
  font: 12px/30px "opensans-bold";
  color: #9daeb6; }

.navbar__link:hover {
  border-bottom: 2px solid #36aeea; }

.header__btn {
  width: 150px;
  font: 12px/44px "railway-bold";
  color: #36aeea;
  text-transform: uppercase;
  border: 3px solid #36aeea;
  border-radius: 5px;
  text-align: center;
  background: transparent; }

.header__orderbox {
  border: 3px solid #fff;
  border-top: none;
  background: url(../img/border.png) center top no-repeat;
  padding: 0 0 40px 30px;
  margin: 140px 0 0 10px;
  height: 320px; }

.header__title {
  padding-top: 40px;
  text-transform: uppercase;
  font: 50px "opensans-bold";
  color: #fff;
  letter-spacing: 5px; }

.header__subtitle {
  font: 66px "bringinregular";
  color: #56c7ff;
  margin-top: -50px;
  margin-left: 2px; }

.header__text {
  font: 18px/30px "opensans-regular";
  color: rgba(250, 250, 250, 0.7);
  width: 520px; }

.btn {
  font: 14px/44px "railway-bold";
  color: #fff;
  text-align: center;
  background: #36aeea;
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 2px; }

.header__orderBtn {
  margin: 30px 0;
  width: 250px;
  height: 60px; }

.about {
  background: #f6f4f4 url("../img/mapbg.png") right 32% no-repeat; }

.about__article {
  padding: 200px 0;
  width: 340px; }

.about__subtitle, .offer__subtitle {
  font: 20px "opensans-bold";
  text-transform: uppercase;
  letter-spacing: 2px; }

.about__subtitle:before, .offer__subtitle:before, .offer__subtitle:before {
  content: url("../img/curve.png");
  display: block;
  margin-bottom: 30px; }

.about__text, .scheme__text {
  margin: 30px 0;
  font: 14px/26px "opensans-regular";
  color: #a8a7a7; }

.about__btn {
  font: 12px/42px "opensans-bold";
  width: 130px; }

.about__photo {
  position: relative; }
  .about__photo .about__photo1 {
    position: absolute;
    top: -40px;
    right: 0px;
    width: 580px; }
    .about__photo .about__photo1 .about__img {
      width: 118%; }
  .about__photo .about__photo2 {
    position: absolute;
    right: 360px;
    top: 230px; }

.journal {
  padding-bottom: 90px; }

.title {
  margin: 60px auto;
  font: 30px "opensans-bold";
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

.title:before {
  content: url("../img/curve.png");
  display: block; }

.journal__adv {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.4); }

.adv__item {
  width: 380px;
  height: 380px;
  text-align: center; }

.adv__item:nth-child(2n) {
  position: relative;
  width: 330px;
  padding: 0 25px; }

.adv__item:nth-child(2):before {
  position: absolute;
  left: -15px;
  top: 60px;
  display: block;
  content: '';
  height: 0px;
  width: 0px;
  border-right: 15px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }

.adv__item:nth-child(6):before {
  position: absolute;
  top: -15px;
  left: 60px;
  display: block;
  content: '';
  height: 0px;
  width: 0px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #fff; }

.adv__title {
  text-transform: uppercase;
  margin: 40px auto;
  color: #16b5ef;
  font: 11px "opensans-bold";
  letter-spacing: 2px; }

.adv__subtitle {
  margin-bottom: 25px;
  font: 17px "opensans-bold";
  letter-spacing: 2.2px; }

.adv__subtitle-partial {
  text-decoration: line-through; }

.adv__text {
  font: 15px/23px "opensans-regular";
  color: rgba(125, 125, 125, 0.57); }

.adv__number {
  position: absolute;
  bottom: 10px;
  padding-top: 50px;
  font-style: italic;
  color: #000; }
  .adv__number:before, .adv__number:after {
    content: '-';
    display: inline-block; }

.offer {
  padding: 130px 0 230px;
  background: url("../img/treebg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.offer__text {
  margin: 30px auto;
  color: #949494; }

.formblock {
  background: #fff;
  height: 50px;
  width: 850px; }
  .formblock input:focus {
    outline: none; }

.formblock__inp {
  height: 20px;
  line-height: 50px;
  border: 1px solid transparent;
  font: 14px/50px "roboto-regular";
  width: 270px;
  padding: 0 10px 0 20px; }
  .formblock__inp:nth-child(2) {
    border-left: 1px solid #ccc; }

.formblock__btn {
  line-height: 48px;
  width: 236px; }

.offer__footnote {
  font: 14px/34px "opensans-regular";
  color: #36aeea; }
  .offer__footnote:before {
    content: url("../img/lock.png");
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; }

.scheme__item {
  width: 280px;
  margin-right: 5px;
  text-align: center; }
  .scheme__item:last-child .scheme__number:after {
    display: none; }

.scheme__number {
  margin: 0 auto;
  height: 45px;
  width: 45px;
  color: #36aeea;
  border-radius: 50%;
  border: 2px solid #36aeea;
  font: 16px/45px "roboto-black"; }
  .scheme__number:after {
    content: '';
    width: 235px;
    height: 3px;
    display: block;
    margin-left: 47px;
    margin-top: -23px;
    background: url(../img/dash.png) repeat-x; }

.scheme__icon-block {
  position: relative;
  margin: 100px auto 0px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #f0f3f6 url("../img/polygon.png") center center no-repeat; }
  .scheme__icon-block:before {
    position: absolute;
    content: url("../img/vdash.png");
    display: inline-block;
    left: 100px;
    top: -95px; }

.scheme__link:hover {
  opacity: .5; }

.scheme__img {
  padding-top: 75px; }

.scheme__subtitle {
  font: 16px/50px "roboto-black";
  color: #2c2e37; }

.scheme__text {
  padding: 0 35px;
  margin-top: 0; }

.travel {
  min-height: 1000px;
  background: url("../img/dottedmap.jpg") center top no-repeat, url("../img/travelbg.jpg") center bottom no-repeat;
  -webkit-background-size: 1400px 700px, cover;
  background-size: 1400px 700px, cover;
  background-blend-mode: multiply;
  color: #fff; }

.travel__title {
  color: #000; }

.travel__item {
  position: relative;
  width: 200px;
  height: 380px;
  margin-right: 28px;
  border-radius: 10px;
  background: url("../img/carpathian.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

.travel__innerblock {
  position: absolute; }

.travel__img {
  width: 100%;
  height: 100%; }

.travel__subtitle {
  padding: 0 20px;
  margin-top: 140px;
  font: 28px/60px "opensans-regular"; }

.travel__text {
  padding: 0 20px;
  font: 16px/28px "opensans-regular"; }

.travel__price {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 64px;
  height: 60px;
  padding: 0 20px; }

.travel__old-price {
  text-decoration: line-through;
  font: 18px/60px "opensans-regular"; }

.travel__bonus-price {
  font: 28px/60px "opensans-bold";
  font-weight: 900; }

.gallery__item {
  margin: 10px; }

.gallery__item--height1 {
  height: 240px; }

.gallery__item--height2 {
  height: 280px; }

.gallery__item--height3 {
  height: 340px; }

.gallery__item--height4 {
  height: 380px; }

.gallery__item--width1 {
  width: 260px; }

.gallery__item--width2 {
  width: 360px; }

.gallery__item--width3 {
  width: 460px; }

.gallery__item:nth-child(5) {
  margin-top: -90px; }

.gallery__img {
  border-radius: 10px;
  width: 100%;
  height: 100%; }

.gallery:after {
  margin-top: 70px;
  content: '';
  display: block;
  height: 180px;
  background: #f8f9fa;
  clear: both; }

.reviews {
  background: url("../img/footerbg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px; }

.reviews__article {
  width: 555px;
  margin-right: 30px; }
  .reviews__article:nth-child(2) {
    margin-right: 0; }
  .reviews__article:nth-child(2) .reviews__footnote:before {
    content: url("../img/face2.png"); }

.reviews__text {
  font: 18px/33px "opensans-regular";
  color: #adadad;
  letter-spacing: 0.8px; }
  .reviews__text:before {
    content: url("../img/quotes.png");
    display: block; }

.reviews__footnote {
  font: 16px/33px "opensans-bold";
  color: #36aeea;
  font-weight: 900; }
  .reviews__footnote:before {
    content: url("../img/face1.png");
    display: inline-block;
    vertical-align: middle; }

.reviews__footnote--partial {
  font: 15px "opensans-regular";
  font-weight: 100; }

/*.overlay {
    box-sizing: border-box;
    margin: 0 auto;
    background: url("../img/footerbg.jpg") 46.5% 65.9% no-repeat;
    -webkit-background-size: 300%;
    background-size: 281%;
    -webkit-filter: blur(30px);
    filter: blur(2px);
    height: 500px;
    width: 500px;
     opacity: 0; 
}
*/
/*.overlay{
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.8);
    position: relative;
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    margin: 0 auto;    
    &:after{
        content: url('../img/footerbg.jpg');
        display: block;
        height: 500px;
        width: 500px;
        position:absolute;
        top: 0;
        left: 0;*/
/*background: url("../img/footerbg.jpg") 46.5% 65.9% no-repeat;*/
/*background-size: 281%;*/
/*  -webkit-filter: blur(7px);

        z-index: 0;

    };
    p{  
        position: absolute;
        z-index: 1;
    }

}*/
