* 
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
@import 'fonts';

$bringin: 'bringinregular';
$osR: 'opensans-regular';
$osB: 'opensans-bold';
$rw: 'railway-bold';
$rbR: 'roboto-regular';
$rbB: 'roboto-bold';
$rbBl: 'roboto-black';
$blue: #36aeea;
 
.left{float:left;}
.right{float:right;}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.wrapper{
	width: 1140px;
	margin: 0 auto;
}
.header{
    background:url(../img/bg.jpg) 53% top no-repeat;
    padding-bottom: 106px;
    background-size: cover;
}
.header__topline {
	padding-top: 15px;
}
.header__logo {
	font: 29px $bringin;
    height: 90px;
}
.header__logo-partial {
	color: $blue;
	text-transform: capitalize;
}
.header__logo-partial:last-child {
	color: #95a5ad;
}
.header__navbar{
	margin-left: 60px;
	padding-top: 10px;
	width: 550px;
}
.navbar__item {
	display: inline-block;	
	margin-right: 20px;
}
.navbar__link {
	display: block;
	text-transform: uppercase;
	font: 12px/30px $osB;
	color: #9daeb6;
}
.navbar__link:hover {
	border-bottom: 2px solid $blue;
}
.header__btn {
    width: 150px;
    font: 12px/44px $rw;
    color: $blue;
    text-transform: uppercase;
    border: 3px solid $blue;
    border-radius: 5px;
    text-align: center;
    background: transparent;
}
.header__orderbox{
    padding: 0 0 40px 40px;
    margin: 60px 0 0 40px;
    height: 320px;
}
.header__title{
    padding-top: 50px;
    text-transform: uppercase;
    font:50px $osB;
    color:#fff;
    letter-spacing: 5px;
}
.header__subtitle{
    font: 66px/40px $bringin;
    color: #56c7ff;
    margin: -15px 0 10px 2px;
}

.header__text{
    font: 18px/30px $osR;
    color: rgba(250,250,250,.7);
    width: 520px;
}
.btn {
    font: 14px/44px $rw;
    color: #fff;
    text-align: center;
    background: $blue;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 2px;
}

.header__orderBtn {
    margin: 20px 0;
    width: 250px;
    height: 60px;
}

.about {
    background: #f6f4f4 url('../img/mapbg.png') right 32% no-repeat;
}
.about__article{
    padding: 200px 0;
    width: 340px;
}
.about__subtitle {
    font: 20px $osB;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.about__subtitle:before, .offer__subtitle:before{
    content: url('../img/curve.png');
    display: block;
    margin-bottom: 30px;
}
.about__text{
    margin: 30px 0;
    font: 14px/26px $osR;
    color: #a8a7a7;
}
.about__btn {
    font: 12px/42px $osB;
    width: 130px;  
}
.about__photo  {
    position: relative;
    .about__photo1 {
        position: absolute;
        top: -40px;
        right: -215px;
        @media screen and (max-width: 1500px){
            right: 0px;
            width: 580px;
            .about__img{
                width: 118%;
            }


        }
        
    };
    .about__photo2 {
        position: absolute;
        right: 360px;
        top: 230px;
    }
}
.journal{
    padding-bottom: 90px;
}
.title {
    margin: 60px auto;
    font: 30px $osB;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.title:before{
    content: url('../img/curve.png');
    display: block;
}
.journal__adv{
    box-shadow: 0px 2px 30px rgba(0,0,0,.4);
}
.adv__item {
    width: 380px;
    height: 380px;
    text-align: center;
}
.adv__item:nth-child(2n){
    position: relative;
    width: 330px;
    padding: 0 25px;
}
.adv__item:nth-child(2):before{
    position: absolute;
    left: -15px;
    top: 60px;
    display: block;
    content: '';
    height: 0px;
    width: 0px;
    border-right: 15px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.adv__item:nth-child(6):before{    
    position: absolute;
    top: -15px;
    left: 60px;
    display: block;
    content: '';
    height: 0px;
    width: 0px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #fff;
}
.adv__title {
    text-transform: uppercase;
    margin: 40px auto;
    color: #16b5ef;
    font: 11px $osB;
    letter-spacing: 2px;
}
.adv__subtitle{
    margin-bottom: 25px;
    font: 17px $osB;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}
.adv__subtitle-partial {
    text-decoration: line-through;
}
.adv__text {
    font: 15px/23px $osR;
    color: rgba(125,125,125,.57);
}
.adv__number {
    position: absolute;
    bottom: 10px;
    padding-top: 50px;
    font-style: italic;
    color: #000;
    &:before, &:after{
        content: '-';
        display: inline-block;
    };
}

.offer {
    padding: 130px 0 230px;
    background: url('../img/treebg.jpg') center center no-repeat;
    background-size: cover;
}
.offer__subtitle{@extend .about__subtitle;}
.offer__text{
    margin: 30px auto;
    color: #949494;
}
.formblock{
    background: #fff;
    height: 50px;
    width: 850px;
    input:focus{
        outline: none;
    }
}
.formblock__inp {
    height: 20px;
    line-height: 50px;
    border: 1px solid transparent;
    font: 14px/50px $rbR;
    width: 270px;
    padding: 0 10px 0 20px;
    &:nth-child(2){
        border-left: 1px solid #ccc;
    }
}
.formblock__btn{
    line-height: 48px;
    width: 236px;
}
.offer__footnote{
    font: 14px/34px $osR;
    color: $blue;
    &:before{
        content: url('../img/lock.png');
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    };
}   
.scheme__item{
    width: 280px;
    margin-right: 5px;
    text-align: center;
    &:last-child .scheme__number:after{display:none};
}
.scheme__number {
    margin: 0 auto;
    height: 45px;
    width: 45px;
    color: $blue;
    border-radius: 50%;
    border: 2px solid $blue;
    font: 16px/45px $rbBl;
    &:after{
        content: '';
        width: 235px;
        height: 3px;
        display: block;
        margin-left: 47px;
        margin-top: -23px;
        background: url(../img/dash.png) repeat-x;
    };
}
.scheme__icon-block {
    position: relative;
    margin: 100px auto 0px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #f0f3f6 url('../img/polygon.png') center center no-repeat;
    &:before{
        position:absolute;
        content: url('../img/vdash.png');
        display: inline-block;
        left: 100px;
        top: -95px;

    };   
}
.scheme__link{&:hover{opacity:.5;};}
.scheme__img{padding-top: 75px;}
.scheme__subtitle{font: 16px/50px $rbBl;color:#2c2e37;}
.scheme__text{
    @extend .about__text;
    padding: 0 35px;
    margin-top: 0;
}
.travel{
    min-height: 1000px;
    background:     url('../img/dottedmap.jpg') center top no-repeat, 
                    url('../img/travelbg.jpg') center bottom no-repeat;
    background-size: 1400px 700px, cover;
    background-blend-mode: multiply;
    color:#fff;
}
.travel__title{
    color: #000;
}
.travel__item {
    position: relative;
    width: 200px;
    height: 380px;
    margin-right: 28px;
    border-radius: 10px;

}
.travel__innerblock{
    position: absolute; 
}
.travel__img{
    width: 100%;
    height: 100%;
}
.travel__subtitle{
    padding: 0 20px;
    margin-top: 140px;
    font: 28px/60px $osR;
}
.travel__text{
    padding: 0 20px;
    font: 16px/28px $osR;
}
.travel__price{
    border-radius: 10px;
    background: rgba(0,0,0,.2);
    margin-top: 64px;
    height: 60px;
    padding: 0 20px;
}

.travel__old-price{
    text-decoration: line-through;
    font: 18px/60px $osR;
}
.travel__bonus-price{
    font: 28px/60px $osB;
    font-weight: 900;
}
.gallery__item{margin: 10px;}
.gallery__item--height1{height: 240px;}
.gallery__item--height2{height: 280px;}
.gallery__item--height3{height: 340px;}
.gallery__item--height4{height: 380px;}
.gallery__item--width1{width: 260px;}
.gallery__item--width2{width: 360px;}
.gallery__item--width3{width: 460px;}
.gallery__item:nth-child(5){margin-top: -90px;}

.gallery__img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.gallery:after{
    margin-top: 70px;
    content: '';
    display: block;
    height: 180px;
    background: #f8f9fa;
    clear: both;
}
.reviews{
    background: #fafafa url('../img/footerbg.jpg') center bottom no-repeat;
    min-height: 1250px;
    background-size: cover;
    position: relative;
    height: 800px;
}
.reviews__article{
    width: 555px;
    margin-right: 30px;
    &:nth-child(2){margin-right: 0;}
    &:nth-child(2) .reviews__footnote:before{content:url('../img/face2.png');}
}

.reviews__text{
    font: 18px/33px $osR;
    color: #adadad;
    letter-spacing: 0.8px;
    &:before{
        content: url('../img/quotes.png');
        display: block;

    };
}
.reviews__footnote{
    font: 16px/33px $osB;
    color: $blue;
    font-weight: 900;
    &:before{
        margin-right: 10px;
        content:url('../img/face1.png');
        display: inline-block;
        vertical-align: middle;
    };
}
.reviews__footnote--partial{
    font: 15px $osR;
    font-weight: 100;
}

.reviews__formblock{
    padding: 40px 25px 45px;
    background: url('../img/formbg.png') center center no-repeat;
    height: 400px;
    width: 450px;
    margin: 140px auto 0px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.formblock-title{
    font:36px $osB;
    color: $blue;
    text-transform: uppercase;
    text-align: center;
}
.formblock-subtitle{
    font: 16px/29px $osR;
    text-align: center;
    margin-bottom: 35px;
}
.formblock__inp--bottom{
    width: 417px;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 20px;
}
.formblock__btn--bottom{
    width: 450px;
    height: 70px;
    text-align: center;
}
.footer{
    background: #3e5e6a;
    color: #fff;
    height: 80px;
    
}
.footer__item{
    width: 370px;
    margin: 0 auto;
    display: inline-block;
    &:first-child{
        font: 18px/70px $osR;
        color: #74a2b2;
        text-align: left;
    };
    &:nth-child(2){
        text-align: center;
        vertical-align: middle;
    };
    &:last-child{
        font: 27px/80px $rbB; 
        color: #7ec2d6;
        text-align: right;

    };
}

