*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;

}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$ubuntu: 'ubuntumedium';
$lato: 'Lato';
$lb: rgba(42,250,255,1);
@mixin innerBg($pic){
	background: rgba(0,0,0,.1) url('../img/'+$pic+'.jpg') center center no-repeat;
	background-size: cover;
	&:hover{background:rgba(0,0,0,.85) url('../img/'+$pic+'.jpg') center center no-repeat;
	background-size: cover;
}	
};	

.clearfix:after{display: block;clear: both;content: '';}

.left{float: left;}

.right{float: right;}

.parallaxContainer{
	background: rgba(0,0,0,.3) url('../img/head1.jpg')  center center repeat;
	/*background: rgba(0,0,0,.3) url('https://c8.staticflickr.com/4/3387/3454754071_7ea1702d88_z.jpg') center center no-repeat;*/
	/*background: linear-gradient (to bottom #000, #333);*/
	background-blend-mode: multiply;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0px 0px; 

};
.wrapper{
	padding: 20px;
	width: 1100px;
	margin: 0 auto;
}

#header {
	color:#fff;
	position: relative;
}
.header__topline{
	position: absolute;
	width: 100%;
	height: 70px;
	animation: dropdown 2s ease-in-out ;
}

@keyframes dropdown {
    0% {transform: translateY(-190%);}
    60%{transform: translateY(10%);}
    70%{transform: translateY(-4%);}
    80%{transform: translateY(4%);}
    95%{transform: translateY(-2%);}           
    100%{transform: translateY(0%);} 
}

.header__logo{
	font: 25px/70px $lato;
}
.header__list{
/*	width: auto;
	height: auto;
	transition-property: width, height;
	transition-duration: 3s;*/

}
.header__list--navigate{
	opacity: .6;
	z-index: 998;
	position: fixed;
	width: 50px;
	height: 50px;
	right: 0px;
	top:0px;
	&:hover{opacity: 1;};
	.header__item{height: 35px;}
	.header__link{height: 35px;
		text-align: left;
		&:after{display: none;};
	.svg__icon{opacity: 1;margin-top: -30px;}

	}

}
.header__item {
	text-align: center;
	display: inline-block;
	margin: 0 10px;
	height: 70px;
	width: 150px;
	text-align: center;
}
.header__link {
	position: relative;
	display: block;
	font: 20px/70px $ubuntu;
	color:#fff;
	.svg__icon{opacity: 0;}
	&:after{
		content:'';
		position: absolute;
		display: block;
		height: 3px;
		bottom: 3px;
		right: 50%;
		left: 50%;
		background: $lb;
		transition-property: left, right;
		transition-duration: .3s;
	};

	&:hover{&:after{left: 0%;right: 0%;};};
	&:hover .svg__icon{fill:$lb;opacity:1;}
	
} 

.header__main{
	text-align: center;
	padding: 17% 0;
}
.header__text, .header__title{
	animation: textRoll 1.2s linear;
}
.header__wrap{
	position: relative;
	font: 22px/120px $lato;
}
.header__btn{
	outline: none;
	position: absolute;
	content:'';
	width: 55px;
	height: 55px;
	background: url('../svg/down.svg');
	left: 50%;
	right: 50%;
	border: 1px solid transparent;
	background-size: 55px 55px;
	cursor: pointer;
	/*animation: slideDown 2s ease-in-out infinite;*/
};




							/*PORTFOLIO*/

#portfolio	{
	padding-bottom: 100px;
	opacity: .98;
	background: rgba(0,170,255,.4);
	transition: background 1s;
	color:#fff;
	text-align: center;
	&:hover{background: rgba(0,170,255,.7);};

}
.portfolio__title{
	text-transform: uppercase;
	margin: 60px auto;
	font-family: $ubuntu;
}

.portfolio__subtitle{
	text-transform: uppercase;
}

.portfolio__item{
	position: relative;
	font-size: 25px;
	width: 600px;
	height: 400px;
	border-radius: 40px;
	padding: 0 260px;
	 transition: padding-left .7s ease-in-out; 
	&:hover {padding: 0 540px 0 0;};
	&:hover .svg{opacity:1};
	&:hover .portfolio__desc{display: block;animation: sideFlow .4s linear 1;};

}
.portfolio__innerblock{
	position: relative;
	border: 1px solid rgba(0,0,0,.8);
	border-radius: 40px;
	position: absolute;
	width: 598px;
	height: 398px;
	transition: background .8s;
	background-blend-mode: multiply;
	z-index: 999;
}
.portfolio__innerblock--urlaubs{@include innerBg(urlaubs);}
.portfolio__innerblock--pingbuller{@include innerBg(pingbuller);}
.portfolio__innerblock--mountains{@include innerBg(mountain);}
.portfolio__innerblock--build{@include innerBg(build);}

	
.portfolio__icons{
	position: absolute;
	z-index: 0;
	padding: 100px;
	.svg {z-index: 0;}
}

.portfolio__desc{
	position: absolute;
	display: none;
	left: 500px;
	height: 280px;
	width: 480px;
	padding: 120px 50px 0 150px;
}


@keyframes sideFlow {
	0%{margin-left: 400px; opacity: 0;}
	50%{margin-left: 200px;};
	100%{margin-left: 00px;opacity: 1;}
}

@keyframes sideFlow1 {
	0%{transform: translate(400px, 0px); opacity:0;};
	50%{transform: translate(200px, 0px);};
	100%{opacity:1;};
	
}


#about {
	color: #fff;
	font-family: $ubuntu;
	min-height: 800px;
}

.about__title {
	text-align: center;
	@extend .portfolio__title;
}
.about__text{
	
	width: 500px;
}
.animated{
	animation: textRoll 4s linear infinite;

}
@keyframes textRoll {
	0%{transform: translate(0px, 40px) rotateX(90deg) scale(0.97);opacity: 0}
	50%{transform: translate(0px, 20px) rotateX(45deg) scale(1.0);}
	100%{transform: translate(0px, 0px) rotateX(0deg);opacity: 1;}

}
@keyframes textIn{
	0%{transform: translate(-700px, 580px) rotate(90deg);}
	/*25%{transform: translate(-500px, 500px) rotate(70deg);}*/
	50%{transform: translate(-350px, 275px) rotate(50deg);}
	/*75%{transform: translate(-50px, 100px) rotate(20deg);}*/
	100%{transform: translate(0px, 0px) rotate(0deg);}
	
}
@keyframes slideUp{
    0% {transform: translateY(100%); opacity:0;}
    50%{transform: translateY(-10%);opacity:0.2;}
    75%{transform: translateY(7%);opacity:0.7;}         
    100%{transform: translateY(0%);opacity: 1;}   
}
@keyframes slideDown{
	0%,100%{transform: translate(0px, 0px) scale(1);opacity: 1;}
	50%{transform: translate(0px, 20px) scale(0.7);opacity:.3;}
}
#contacts{
	min-height: 80px;
	text-align: center;
	color: #000;
	background: rgba(250,250,250,.5)
}


				/* SVG */


.svg{
	opacity: 0;
	width: 100px;
	height: 100px;
	transition: opacity .8s;
}

.svg__icon{
	fill: #fff;
	height: 35px;
	width: 35px;
	vertical-align: middle;
	margin-right: 10px;
	transition: all .3s;
	&:hover{cursor: pointer;};
}

.owl-prev {
	position: absolute;
	left: -70px;
	top: 170px;
	transition: transform .3s;
	.svg__icon{margin: 0;}
	&:hover{transform:scale(1.2);};
	&:hover .svg__icon{fill:$lb;};
}
.owl-next {
	position: absolute;
	top: 170px;
	right: -70px;
	transition: transform .3s;
	.svg__icon{margin: 0;}
	&:hover{transform:scale(1.2);};
	&:hover .svg__icon{fill:$lb;};

}
body{position: relative;}

.parallaxContainer{
	position: fixed;
	height: 100%;
	width: 100%;
	transform: translate3d(0, 0, 0);

	
}
#about, #contacts, #portfolio{
	position: absolute;
	transform: translate3d(0px,0px,0px);
	left: 0;
	right: 0;
}
#portfolio{top: 654px;};
#about{top: 1350px;};
#contacts{top: 2170px;};