* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-webfont.eot");
  src: url("../fonts/ubuntu-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont.ttf") format("truetype"), url("../fonts/ubuntu-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  padding: 20px;
  width: 1140px;
  box-sizing: border-box;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .wrapper {
      max-width: 1140px;
      width: 100%; } }
  @media screen and (max-width: 960px) {
    .wrapper {
      max-width: 960px; } }
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 768px; } }

/* HEADER */
#header {
  color: #fff;
  position: relative; }

.header__topline {
  position: absolute;
  width: 100%;
  height: 70px;
  animation: dropdown 2s ease-in-out; }
  @media screen and (max-width: 960px) {
    .header__topline {
      animation: none; } }

.header__logo {
  font: 25px/70px "Lato"; }
  @media screen and (max-width: 320px) {
    .header__logo .header__svg, .header__logo .controls__svg {
      margin-right: 0px; } }

.header__list--navigate {
  opacity: .6;
  z-index: 999;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0px;
  top: 0px; }
  .header__list--navigate:hover {
    opacity: 1; }
  .header__list--navigate .header__item {
    height: 45px; }
  .header__list--navigate .header__link {
    height: 45px;
    text-align: left; }
    .header__list--navigate .header__link:after {
      display: none; }
    .header__list--navigate .header__link .header__svg, .header__list--navigate .header__link .controls__svg {
      opacity: 1; }
  @media screen and (max-width: 960px) {
    .header__list--navigate {
      display: none; } }

@media screen and (max-width: 960px) {
  .header__nav {
    position: relative;
    z-index: 999;
    top: 35px;
    right: 25px;
    width: 40px;
    height: 40px;
    transition: width .5s ease-in-out; }
    .header__nav .header__list {
      position: relative; }
      .header__nav .header__list .header__svg--menu {
        position: absolute;
        z-index: 998;
        right: -10px;
        display: block;
        opacity: 1;
        transition: opacity .3s ease-in; }
    .header__nav .header__item, .header__nav .header__link {
      display: none; }
    .header__nav:hover {
      width: 180px; }
      .header__nav:hover .header__svg--menu {
        opacity: 0; }
      .header__nav:hover .header__item {
        display: block;
        height: 45px; }
        .header__nav:hover .header__item .header__link {
          display: block;
          line-height: 45px; }
          .header__nav:hover .header__item .header__link:after {
            display: none; } }

@media screen and (max-width: 320px) {
  .header__nav {
    right: 5px; } }

.header__item {
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  height: 70px;
  width: 150px;
  text-align: center; }

.header__link {
  position: relative;
  display: block;
  font: 20px/70px "ubuntu";
  color: #fff; }
  .header__link .header__svg, .header__link .controls__svg {
    opacity: 0; }
  .header__link:after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    bottom: 3px;
    right: 50%;
    left: 50%;
    background: #2afaff;
    transition-property: left, right;
    transition-duration: .3s; }
  .header__link:hover:after {
    left: 0%;
    right: 0%; }
  .header__link:hover .header__svg, .header__link:hover .controls__svg {
    fill: #2afaff;
    opacity: 1;
    cursor: pointer; }

.header__main {
  text-align: center;
  padding: 23% 0; }
  @media screen and (max-width: 960px) {
    .header__main {
      padding: 220px 0; } }

.header__text, .header__title {
  animation: textRoll 1.2s linear; }
  @media screen and (max-width: 460px) {
    .header__text, .header__title {
      margin-bottom: 40px; } }

.header__wrap {
  position: relative;
  font: 22px/120px "Lato"; }
  @media screen and (max-width: 768px) {
    .header__wrap {
      line-height: 70px; } }
  @media screen and (max-width: 460px) {
    .header__wrap {
      line-height: 40px; } }

.header__svg, .controls__svg {
  fill: #fff;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin-right: 10px;
  transition: all .3s; }

.header__svg--menu {
  display: none; }

.header__svg--btn {
  fill: #fff;
  background: transparent;
  outline: none;
  position: absolute;
  left: 48%;
  right: 48%;
  height: 60px;
  width: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  animation: slideDown 2s ease-in-out infinite; }
  @media screen and (max-width: 768px) {
    .header__svg--btn {
      left: 46%; } }
  @media screen and (max-width: 460px) {
    .header__svg--btn {
      left: 43%; } }

/*PORTFOLIO*/
#portfolio {
  position: relative;
  padding-bottom: 100px;
  opacity: .98;
  background: rgba(0, 170, 255, 0.4);
  transition: background 1s;
  color: #fff;
  text-align: center; }
  #portfolio:hover {
    background: rgba(0, 170, 255, 0.7); }

.portfolio__title, .about__title, .contacts__title {
  text-transform: uppercase;
  margin: 60px auto;
  font-family: "ubuntu"; }
  @media screen and (max-width: 1140px) {
    .portfolio__title, .about__title, .contacts__title {
      margin: 30px auto; } }

.portfolio__subtitle {
  text-transform: uppercase; }

@media screen and (max-width: 1140px) {
  .portfolio__wrap {
    width: 600px;
    margin: 0 auto; } }

@media screen and (max-width: 768px) {
  .portfolio__wrap {
    width: 100%;
    max-width: 768px; } }

.portfolio__item {
  position: relative;
  font-size: 25px;
  width: 600px;
  height: 400px;
  border-radius: 40px;
  padding: 0 24%;
  transition: padding-left .7s ease-in-out; }
  .portfolio__item:hover {
    padding: 0 540px 0 0px; }
    @media screen and (max-width: 1350px) {
      .portfolio__item:hover {
        padding: 0 400px 0 40px; } }
    @media screen and (max-width: 1140px) {
      .portfolio__item:hover {
        padding: 0px; } }
  .portfolio__item:hover .portfolio__svg {
    opacity: 1; }
  .portfolio__item:hover .portfolio__desc {
    display: block;
    animation: sideFlow .4s linear 1; }
    @media screen and (max-width: 1140px) {
      .portfolio__item:hover .portfolio__desc {
        animation: none; } }
    @media screen and (max-width: 768px) {
      .portfolio__item:hover .portfolio__desc {
        padding: 20px;
        width: 80%;
        top: 20%;
        left: 7%; } }
  @media screen and (max-width: 1140px) {
    .portfolio__item {
      padding: 0; } }
  @media screen and (max-width: 768px) {
    .portfolio__item {
      width: 100%;
      max-width: 768px; } }
  @media screen and (max-width: 460px) {
    .portfolio__item {
      height: 100%;
      min-height: 300px; } }

.portfolio__item--urlaubs:hover .portfolio__innerblock {
  background: rgba(0, 0, 0, 0.85) url("../img/urlaubs.jpg") center center no-repeat;
  background-size: cover; }

.portfolio__item--pingbuller:hover .portfolio__innerblock {
  background: rgba(0, 0, 0, 0.85) url("../img/pingbuller.jpg") center center no-repeat;
  background-size: cover; }

.portfolio__item--pingbuller .portfolio__icons {
  left: 40px;
  top: 50px; }

.portfolio__item--mountains:hover .portfolio__innerblock {
  background: rgba(0, 0, 0, 0.85) url("../img/mountain.jpg") center center no-repeat;
  background-size: cover; }

.portfolio__item--build:hover .portfolio__innerblock {
  background: rgba(0, 0, 0, 0.85) url("../img/build.jpg") center center no-repeat;
  background-size: cover; }

.portfolio__innerblock {
  position: absolute;
  border: 1px solid rgba(66, 155, 184, 0.8);
  border-radius: 40px;
  width: 598px;
  height: 398px;
  transition: background .8s;
  background-blend-mode: multiply;
  z-index: 999;
  transform: translate3d(0px, 0px, 0px); }
  @media screen and (max-width: 1140px) {
    .portfolio__innerblock {
      transition: background .2s; } }
  @media screen and (max-width: 768px) {
    .portfolio__innerblock {
      width: 100%;
      max-width: 768px; } }
  @media screen and (max-width: 460px) {
    .portfolio__innerblock {
      height: 100%;
      max-height: 300px; } }

.portfolio__innerblock--urlaubs {
  background: rgba(0, 0, 0, 0.1) url("../img/urlaubs.jpg") center center no-repeat;
  background-size: cover; }

.portfolio__innerblock--pingbuller {
  background: rgba(0, 0, 0, 0.1) url("../img/pingbuller.jpg") center center no-repeat;
  background-size: cover; }
  .portfolio__innerblock--pingbuller .portfolio__icons {
    left: 40px;
    top: 50px; }

.portfolio__innerblock--mountains {
  background: rgba(0, 0, 0, 0.1) url("../img/mountain.jpg") center center no-repeat;
  background-size: cover; }

.portfolio__innerblock--build {
  background: rgba(0, 0, 0, 0.1) url("../img/build.jpg") center center no-repeat;
  background-size: cover; }

.portfolio__icons {
  position: absolute;
  z-index: 1;
  padding: 100px; }
  @media screen and (max-width: 1140px) {
    .portfolio__icons {
      display: none; } }

.portfolio__svg {
  opacity: 0;
  width: 100px;
  height: 100px;
  transition: opacity .8s; }

.portfolio__desc {
  position: absolute;
  display: none;
  left: 500px;
  height: 280px;
  width: 445px;
  padding: 90px 50px 30px 150px; }
  @media screen and (max-width: 1350px) {
    .portfolio__desc {
      width: 380px;
      left: 480px; } }
  @media screen and (max-width: 1140px) {
    .portfolio__desc {
      left: -35px; } }

.portfolio__link {
  display: block;
  border-radius: 30px;
  border: 2px solid #fff;
  padding: 15px;
  margin: 20px auto;
  color: #fff;
  text-decoration: none; }
  .portfolio__link:hover {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7); }

/* ABOUT  */
#about {
  position: relative;
  color: #fff;
  font-family: "ubuntu";
  min-height: 800px; }

.about__title {
  text-align: center; }

.about__item {
  width: 530px; }
  @media screen and (max-width: 1140px) {
    .about__item {
      width: 50%; } }
  @media screen and (max-width: 960px) {
    .about__item {
      float: none;
      width: 80%;
      margin: 50px auto; } }

.about__subtitle {
  margin: 20px auto;
  text-align: center; }

.about__skillbar {
  width: 600px;
  font: 20px/60px "Lato"; }
  @media screen and (max-width: 960px) {
    .about__skillbar {
      width: 100%; } }

.about__skillname {
  float: left;
  width: 140px; }
  @media screen and (max-width: 960px) {
    .about__skillname {
      float: none;
      margin: 0 auto;
      text-align: center; } }

.about__skillbar-wrap {
  display: inline-block;
  width: 353px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  padding: 3px; }
  @media screen and (max-width: 1140px) {
    .about__skillbar-wrap {
      width: 50%; } }
  @media screen and (max-width: 960px) {
    .about__skillbar-wrap {
      width: 100%; } }

.about__meter {
  border-radius: 20px;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(-45deg, #00ff1f 10px, rgba(0, 149, 43, 0.9) 20px); }

.about__meter--js {
  width: 85%;
  border-radius: 25px 10px 10px 25px; }

.about__meter--slideOut {
  animation: sliding 1s ease-in-out; }

.about__meter--JSslideOut {
  animation: JSsliding 1s ease-in-out; }

.about__photo {
  display: block;
  margin: 25px auto;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
  @media screen and (max-width: 960px) {
    .about__photo {
      margin: 15px;
      float: left; } }
  @media screen and (max-width: 768px) {
    .about__photo {
      margin: 20px; } }
  @media screen and (max-width: 460px) {
    .about__photo {
      float: none;
      margin: 10px auto; } }

.about__text {
  text-indent: 20px;
  font: 18px "Lato"; }

/* CONTACTS */
#contacts {
  position: relative;
  min-height: 280px;
  text-align: center;
  color: #fff;
  background: rgba(250, 250, 250, 0.2); }

.contacts__link {
  display: inline-block; }
  .contacts__link:nth-child(3) .contacts__svg {
    transform: scale(1.15); }
    .contacts__link:nth-child(3) .contacts__svg:hover {
      transform: scale(1.25); }
  @media screen and (max-width: 460px) {
    .contacts__link {
      width: 80px;
      height: 80px;
      text-align: center; } }

.contacts__svg {
  width: 70px;
  height: 70px;
  fill: #fff;
  margin: 50px;
  transition: all .4s ease-in-out; }
  .contacts__svg:hover {
    fill: #2afaff;
    transform: scale(1.1); }
  @media screen and (max-width: 460px) {
    .contacts__svg {
      width: 45px;
      height: 45px;
      margin: 0; } }

.parallaxContainer {
  position: fixed;
  z-index: -100;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 1140px) {
    .parallaxContainer {
      width: 125%;
      margin-left: -15%; } }
  @media screen and (max-width: 960px) {
    .parallaxContainer {
      width: 130%;
      height: 120%;
      margin-left: -20%; } }
  @media screen and (max-width: 768px) {
    .parallaxContainer {
      width: 180%;
      height: 140%;
      margin-left: -45%; } }

.parallaxImg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 140%; }

/* OWL CONTROLS */
.owl-prev {
  position: absolute;
  left: -70px;
  top: 190px;
  transition: transform .3s; }
  .owl-prev .header__svg, .owl-prev .controls__svg {
    margin: 0; }
  .owl-prev:hover {
    transform: scale(1.2); }
  .owl-prev:hover .controls__svg {
    fill: #2afaff;
    cursor: pointer; }
  @media screen and (max-width: 1350px) {
    .owl-prev {
      left: 0px; } }
  @media screen and (max-width: 1140px) {
    .owl-prev {
      left: -40px; } }

.owl-next {
  position: absolute;
  top: 190px;
  right: -70px;
  transition: transform .3s; }
  .owl-next .header__svg, .owl-next .controls__svg {
    margin: 0; }
  .owl-next:hover {
    transform: scale(1.2); }
  .owl-next:hover .controls__svg {
    fill: #2afaff;
    cursor: pointer; }
  @media screen and (max-width: 1350px) {
    .owl-next {
      right: 20px; } }
  @media screen and (max-width: 1140px) {
    .owl-next {
      right: -40px; } }

/* ANIMATION */
.about__text--animated {
  animation: textRoll 1.3s linear; }

@keyframes slideDown {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1; }
  50% {
    transform: translate(0px, 20px) scale(0.7);
    opacity: .3; } }

@keyframes dropdown {
  0% {
    transform: translateY(-190%); }
  60% {
    transform: translateY(10%); }
  70% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@keyframes sideFlow {
  0% {
    margin-left: 400px;
    opacity: 0; }
  50% {
    margin-left: 200px; }
  100% {
    margin-left: 00px;
    opacity: 1; } }

@keyframes textRoll {
  0% {
    transform: translate(0px, 40px) rotateX(90deg) scale(0.97);
    opacity: 0; }
  50% {
    transform: translate(0px, 20px) rotateX(45deg) scale(1); }
  100% {
    transform: translate(0px, 0px) rotateX(0deg);
    opacity: 1; } }

@keyframes sliding {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes JSsliding {
  0% {
    width: 0; }
  100% {
    width: 85%; } }
