* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.wrapper {
	
	width: 910px;
	padding: 16px 45px;
	margin: 0 auto;
	-webkit-box-shadow: 0px -15px 13px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -15px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px -15px 13px 4px rgba(0,0,0,0.75);
}

	/*HEADER*/
header:after {
	clear: both;
	display: block;
	content: '';
}
.phone:before {
	content: url(../img/phone.png);
	position: relative;
	top: 4px;
	left: 2px;
	margin-right: 6px;
}
.phone {
	float: left;
	margin: 2px 14px 0 5px;
	font-family: Arial;
	color: #5e696d;
	font-size: 19px;
}

.login form:before {
	content: url(../img/login.png);	
	position: relative;	
	top: 7px;
	margin-right: 3px;
}
form {
	margin-top: -2px;
}
.login {
	float: left;
	margin-top: 2px;
	padding: 0  7px 1px;
	height: 24px;
	width: 480px;
 	font-family: "Lucida Sans Unicode";
 	font-size: 12px;
	border-radius: 3px;
	background: linear-gradient(to bottom, #1f6787, #0d3458);
	 box-shadow: 2px 3px 3px 0px rgb( 150, 150, 150 );
}

.log_in, .password {
	line-height: 13px;
	width: 107px;
	margin-right: 3px;
	padding-left: 3px;

}
.login [placeholder] {
	letter-spacing: -1px;
}

.enter {
	margin-right: 2px;
	letter-spacing: -1px;
	color: white;
	background: rgba(0,0,0,0);
	border: 1px solid rgba(0,0,0,0);
}
.login a {
	display: inline-block;
	line-height: 9px;
	color: white;
	letter-spacing: -1px;
}
.registration {

	padding-left: 5px;
	border-left: 1px solid white;

}
a.forgetpswrd {
	border-bottom: 1px solid #bfbfbf;
	color: #bfbfbf;	
	padding:10px 2px 2px;
	float: right;
	text-align: right;
	letter-spacing: 0px;
}
.sitemap {
	float: left;
	width: 65px; 
	border: 1px solid #d3d8da;
	border-radius: 13px;
	padding: 0 5px;
	margin: 3px 0 0 18px;;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(211,216,218,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(211,216,218,1);
	box-shadow: 0px 0px 1px 1px rgba(211,216,218,1);

}
.sitemap span{
	margin-top: -2px;
	float: left;
	/*display: block;*/
	padding: 0 3px 2px 4px;
	line-height: 19px;
	/*display: inline-block;*/
	
}
/*IMG*/
.img {
	margin-top:  9px;
	margin-left: 1px;
}
/*MENU*/

.menu {
	font-family: 'Lucida Sans Unicode';
	margin-top: 2px;
	line-height: 25px;
	background: linear-gradient(to bottom, #3a4046, #010101);
	overflow: hidden;
	border: 1px solid #2c345a;
	border-radius: 4px;	
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}
.menu:before {
	display: block;
	content: '';
	height: 3px;
	background: linear-gradient(to bottom, #4d5662, #3a4046);
}
.menu:before {
	display: block;
	content: '';
	clear: both;
}
.leftmenu ul {
	padding: 0 0 5px 125px;

}
.menu a {
	display: block;
	padding: 1px 14px 0 0;
	color: #b1bcc0;
	font-size: 13.5px;
	letter-spacing: 0.1px;
	word-spacing: -0.3px;
}
.leftmenu li {
	float: left;
	text-transform: uppercase;
}
.leftmenu li:first-child > a {
	padding: 1px 19px 0 21px; 
}
.leftmenu li:nth-child(2) a {
	padding-left: 15px;
}
.leftmenu li:nth-child(3) a {
	padding-left: 16px;
}

.leftmenu li:nth-child(4) a {
	padding-left: 17px;
}
.leftmenu li:nth-child(5) a {
	padding-left: 12px;
}
/*.menu a:hover, a:focus,  {
	background: #195779;
	border-radius: 13px;
	color: white;
}*/
.leftmenu .chosen {
	background: #195779;
	border-radius: 13px;
	color: #fff;
}
.rightmenu {
	margin-right: 12px;
	text-align: right;
	font-size: 11px;

	height: 25px;
	letter-spacing: 0.12px;
}

.rightmenu li {
	color:  #868e92;
	float: right;
	margin-top: -4px;
	padding-left: 10px;
}
.rightmenu span {
	display: block;
	margin-top: 1px;
	font-family: arial;
	font-size: 12px;
	color: #0d5a8f;
	letter-spacing: 0.3px;
}
.rightmenu:after {
	content: url(../img/basket.png);
	display: block;
	margin-top: -1px;
}
.rightmenu li:nth-child(3){
	width: 3px;
	padding: 0 7.6px 0 1px;
}

.rightmenu li:nth-child(4) {
	padding-right: 2px;
	padding-left: 6px;
}



/*FORMS*/



.forms {
	margin-top: 13px;
	padding: 0 3px;
}
.forms:after{
	clear: both;
	display: block;
	content: '';
}

/*LEFTFORM*/

.leftform {
	float: left;
	margin-top: 1px;
	padding: 0 11px 0 16px;
	border-radius: 18px;
	width: 385px;
	color: #154468;
	font-size: 12px;
	word-spacing: 1px;
	letter-spacing: 0.2px;
	-webkit-box-shadow: 3px 3px 5px 2px rgba(179,179,179,1);
-moz-box-shadow: 3px 3px 5px 2px rgba(179,179,179,1);
box-shadow: 3px 3px 5px 2px rgba(179,179,179,1);
}
.autosearch > p {
	margin-left: -10px;
	text-align: center;	
	color: #154468;
	font-family: arial black;
	font-size: 12px;
}
.autosearch  a {
	float: right;
	display: block;
	margin: -6px 8px 8px 0;
	font-style: italic;
	font-size: 14px;
	width: 51px;
	height: 15px;
	border-bottom: 2px solid #a6b1bc;
	color: #154467;
}
.autosearch:after{
	display: block;
	clear: both;
	content: ''; 
}
.left {
	float: left;
	margin-top: -15px;
	text-align:left;
}

.disc {
	margin-bottom: 3px;
	padding: 2px 0 0 3px;
	font-family: arial black;
	font-size: 10px;
	color: #154468;
}
.tires {
	margin-bottom: 3px;
	text-align: right;
	font-family: arial black;
	color: #154468;
	font-size: 10px;
	padding: 0 7px 0 0;
}
.leftcolumn {
	float: left;
	padding: 4px 0;
 	text-align: left;
	width: 77px;
	margin-bottom: 5px;
}
.leftcolumn span {
	color: grey;
	font-size: 9px;
}

.leftcolumn p {
	margin: 2px 0;
	padding-bottom: 5px;
	line-height: 7px;
	color: black;
	font-family: arial;
	font-size: 10px;
}
.leftcolumn p:first-child{
	line-height: 10px;
}
.leftcolumn p:last-child{
	padding-top: 5px;
}

.right {
	margin: -15px 3px 0px 0px;
	float: right;
	text-align: left;

}
.rightcolumn {
	float: right;
	width: 100px;
}
.rightcolumn select {
	margin: 2px 0;
	width: 102px;
}
.rightcolumn p:nth-child(3) select {
	width: 58px;
}

/*CENTERFORM*/


.centerform {
	margin: 0 10px 0 12px;
	float: left;
	width: 167px;
	padding: 0 14px 2px 10px; 
	border-radius: 18px;
	-webkit-box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
-moz-box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
}

.tiresearch:after {
	display: block;
	content: '';
	clear: both;
}
.tiresearch > p {
	color: #154468;
	font-family: arial black;
	font-size: 12px;
	letter-spacing: 0.2px;
	
}
.tiresearch a {
	float: right;
	display: block;
	width: 51px;
	margin: -3px 4px 7px 0;
	font-style: italic;
	font-size: 14px;
	border-bottom: 2px solid #a6b1bc;
	color: #154467;
}
.tireclass {
	padding: 10px 0 0 4px;
	margin: -5px 5px 0 0;
	width: 40px;
	float: left;
}
.tireclass p {
	margin: 6px 0;
	font-family: 'Lucida Sans Unicode';
	font-size: 10px;
	color: black;
}
.tireclass p:nth-child(2) {
	font-family: arial;
	font-size: 11px;
	text-align: right;
}
.tirechoose {
	margin-top: 1px;
	float: left;
	width: 118px;
	font-size: 12px;
}
.tirechoose [type="checkbox"] {
	vertical-align: middle;

}

.tirechoose select {
	margin: 5px 0;
	width: 54px;
	height: 16px;
	font-size: 11px;
}
.tirechoose p:nth-child(2) select {
	width: 45px;
}

/*RIGHTFORM*/

.rightform {
	margin-top: -3px;
	/*padding-left: 2px;*/
	border-radius: 18px;
	-webkit-box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
-moz-box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);

}
.discsearch > p {
	margin-top: -6px;
	color: #154468;
	font-family: arial black;
	font-size: 13px;
}
.discsearch a {
	float: right;
	clear: both;
	display: block;
	width: 51px;
	margin: -3px 8px -4px;
	border-bottom: 2px solid #a6b1bc;
	color: #154467;
	font-style: italic;
	font-size: 14px;
}
.discclass {
	float: left;
	padding: 6px 0 0 7px;
	font-family: 'Lucida Sans Unicode';
	font-size: 10px;
	width: 90px;
	line-height: 10px;
}
.discclass p {
	margin: 2px 0 6px -2px;
	font-size: 11px;
	line-height: 8px;
}

.discclass p:nth-child(2){
	padding-top: 3px;
}
.discclass span {
	font-size: 9px;
	color: grey;
}
.discchoose {
	margin-top: -5px;
	line-height: 30px;
	width: 60px;
	float: left;
}

.discchoose select {
	width: 58px;
	height: 15px;
	font-size: 10px;
} 
.diametr {
	float: right;
	border-left: 1px solid grey;
	margin-top: -12px;
	width: 60px;
	padding: 0 10px 0 12px;
}
.diametr p {
	font-size: 9px;
}
.diametr span {
	display: block;
	font-size: 8px;
	color: grey;

}
.diametr select {
	height: 17px;
	width: 58px;
	margin-bottom: 8px;
	font-size: 11px;
}
section  span {
	letter-spacing: 0.5px;
}



/*CONTENT*/

/*LEFT*/
.content {
	margin-top: 13px;
	position: relative;
	overflow: hidden;
	left: -1px;

}

.catalog {
	width: 190px;
	margin-right: 2px;
	float: left;
}

.catalog p {
	width: 180px;
	border-radius: 12px;
	border: 1px solid #79878d;
	font-size: 14px;
	text-transform: uppercase;
}


.catalog p:first-child {
	font-family: 'Lucida Sans Unicode';
	font-size: 12.18px;
	margin: 4px 0 13px 0;
	line-height: 12px;
	letter-spacing: 0.4px;
}
.catalog > p:first-child:before {
	display: inline-block;
	content: url(../img/catalog.png);
	vertical-align: middle;
	margin: 2px 5px 0 2px;
}
.catalog .title {
	padding-left: 4px;
	width: 144px;
	margin-left: 2px;
	line-height: 14px;
	
}
.catalog .title::before {
	margin-right: 2px;
	display: inline-block;
	content: url(../img/circle.png);
	vertical-align: middle;
}

.catalog a {
	display: block;
	font-family: 'Lucida Sans Unicode';
	font-size: 13px;
	margin-left: 40px;
	padding-left: 1px;
	line-height: 25px;
	letter-spacing: -0.1px;
}
.catalog a:before{
	content: url(../img/linkcircle.png);
	margin-left: -3px;
	padding-right: 2px;	
}
.catalog .chosen {
	font-family: arial;
	text-decoration: underline;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 1px;
	letter-spacing: 0px;
}

/*CENTRAL*/

.centralcontent {
	background: linear-gradient(to bottom, #e5e7e8, #93a7b0);
	border-radius: 2px;
	width: 526px;
	float: left;


}
figure {

	width: 140px;
	display: inline-block;
	text-align: center;
	float: left;
	margin: 10px -1px 0 9px;
	padding: 7px 10px 0;
}
figure p {
	margin-top: 1px;
	color: #206988;
	font-family: 'Lucida Sans Unicode';
	font-size: 15px;
	line-height: 14px;	
	letter-spacing: 0px;
	font-weight: 600;
	padding-left: 8px;

}
figure:first-child p{
	padding-left: 6px;
}
figure span{

	font-size: 12px;
	display: block;
	color: #1f2528;	
	line-height:11px;	
	font-weight: normal;
	
}
figure:first-child span {
	padding-left: 4px;
}

figure img {
	display: block;
	padding: 4px 34px 4px;
	background: white;
	border: 1px solid grey;
	border-radius: 7px;
}

figure:first-child img {
	padding-top: 7px;
	margin-left: -1px;
	padding-left: 28px;
}
figure:nth-child(2) img{
	padding-top: 4px;
	margin-left: -6px;
	padding-bottom: 5px;
}

figure:last-child img {
	padding-left: 27px; 
	padding-right: 30px;
	margin-left: -5px;

}


figcaption {
    padding-left: 24px;
    padding-top: 3px;
    font-size: 15px;
    color: #114165;
    font-style: italic;
    font-family: arial;
    font-weight: bold;
    margin-bottom: 26px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
figure:nth-child(3) figcaption {
	margin-bottom: 29px;
}
figure:nth-child(2) figcaption {
	margin-bottom: 27px;
}

/*/RIGHT/*/

.brands {
	margin-top: 2px;
	float: right;
	padding-bottom: 1500px;
	margin-bottom: -1500px;
}


.brands p {
	width: 180px;
	border-radius: 12px;
	border: 1px solid #79878d;
	font-size: 14px;
	text-transform: uppercase;
}


.brands > p:first-child:before {

	display: inline-block;
	content: url(../img/brands.png);
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 2px;
}
.brands p:first-child {
	font-family: 'Lucida Sans Unicode';
	font-size: 13px;
	line-height: 12px;
	margin-bottom: 15px;
	letter-spacing: 0.4px;
}
.brands .title {
	margin-top: 4px;
	width: 134px;
	margin-left: 13px;
	margin-bottom: 3px;
}
.brands p:nth-child(3) {
	padding-top: 10px;
}
.brands .title::before {
	margin-left: 4px;
	margin-right: 4px;
	display: inline-block;
	content: url(../img/circle.png);
	vertical-align: middle;
}
.brands li {
	line-height: 24px;
	font-family: "Lucida Sans Serif";
	padding-bottom: 2px;
	padding-left: 24px;
	font-size: 13px;
}
.brands label {
	font-family: 'arial regular';
	font-size: 15px;
	color: grey;
	margin-left: 11px;
	display: inline-block;
	margin-top: -1px;

}
.brands  [type="button"] {
	height: 26px;
	width: 81px;
	color: white;
	background: linear-gradient(to bottom, #1f6787,#0d3458);
	border-radius: 13px;
	border: 0px solid;
	font-size: 11px;
	font-family: 'Arial';
	letter-spacing: 1px;
	margin-top: 12px;
	margin-left: 23px;
	padding-left: 4px;
	text-transform: uppercase;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(179,179,179,1);
-moz-box-shadow: 2px 2px 5px 2px rgba(179,179,179,1);
box-shadow: 2px 2px 5px 2px rgba(179,179,179,1);
}

/*FOOTER*/

footer {
	text-align: center;
	margin-top: 23px;
}
footer img {
	margin-bottom: 21px;
}
.footermenu {
	width: 911px;
	height: 100px;
	background: #213a4d;
	margin: 0 auto;
}
footer ul {
	margin-left: 10px;
	padding-top: 11px;
	font-size: 12px;
	letter-spacing: ;
}
footer li {
	display: inline-block;
	color: grey;
	line-height: 11px;
}

footer a {
	display: block;
	padding-left: 10px;
	padding-right: 13px;
	letter-spacing: 0.4px;
	color: white;
	font-family: arial;
}
footer li:first-child a{
	padding-right: 6px;
	color: #4792af;
}
footer li:nth-child(2) {
	border-left: 1px solid white;
	border-right: 1px solid white;
}
footer li:nth-child(3) {
	border-right: 1px solid white;
}
footer p {
	font-size: 10px;
	margin-top: 14px;
	color: #7f4740;
}